# Copyright (C) 2019 tribe29 GmbH - License: GNU General Public License v2
# This file is part of Checkmk (https://checkmk.com). It is subject to the terms and
# conditions defined in the file COPYING, which is part of this source code package.

{%- set instance = plugin_redis.get('server', 'localhost') ~ "_" ~ plugin_redis.get('port', '6379') %}

# List of instances, defines service description for resulting checks
REDIS_INSTANCES=({{ instance }})

# Host, Port and optional password per instance
REDIS_HOST_{{ instance }}="{{ plugin_redis.get('server', '127.0.0.1') }}"
REDIS_PORT_{{ instance }}="{{ plugin_redis.get('port', '6379') }}"
REDIS_PASSWORD_{{ instance }}='{{ plugin_redis.get('pass', 'no-access-to-redis-credentials') }}'
