# Copyright (C) 2019 tribe29 GmbH - License: GNU General Public License v2
# This file is part of Checkmk (https://checkmk.com). It is subject to the terms and
# conditions defined in the file COPYING, which is part of this source code package.

{%- set redis_instances = " " %}
{%- for instance, props in plugin_redis.items() %}
  {%- set redis_instances = (redis_instances + props.get('server', 'localhost') + "_" + props.get('port', '6379') + " " %}
{%- endfor %}

# List of instances, defines service description for resulting checks
REDIS_INSTANCES=({{ redis_instances }})

# Host, Port and optional password per instance
{% for instance, props in plugin_redis.items() %}
REDIS_HOST_{{ instance }}="{{ props.get('server', '127.0.0.1') }}"
REDIS_PORT_{{ instance }}="{{ props.get('port', '6379') }}"
REDIS_PASSWORD_{{ instance }}='{{ props.get('pass', 'no-access-to-redis-credentials') }}'
{% endfor %}
